{{!-- NAV BAR --}}
<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">Saved Articles</a>
        </div>
        <ul class="nav navbar-nav">
            <li>
                <a href="/">Home</a>
            </li>
            <li class="active">
                <a href="/saved">Saved Articles</a>
            </li>
        </ul>
    </div>
</nav>
{{!-- JUMBOTRON --}}
<div class="jumbotron text-center">
    <div class="overlay"></div>
    <div class="background-image"></div>
    <div class="caption">
        <h1>Saved Articles</h1>
        <p>Your Saved Articles</p>
    </div>
</div>

{{!-- Article Container --}}
<div class="container-fluid article-container"></div>

{{!-- FOOTER --}}
<footer class="footer">
    <div class="container">
        <p>Mongo News Scraper</p>
    </div>
</footer>

<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script> 
<script src="../../assets/javascript/saved.js"></script>